.job-list {
  margin: 0;
  padding: 0;
  .mt(5);
  .item {
    padding:8px 0;
    list-style: none;
    border-bottom: 1px solid @listLineColor;
    .h(65);
    .logo {
      .w(65);
      .h(65);
      margin-right: 13px;
    }
    .title {
      margin: 0;
    }
    .text {
      margin: 0;
    }
  }
}