.bg-w {
  background-color: #fff;
}
.c-w {
  color: #fff;
}
.c-r {
  color: red;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.p-r {
  position: relative;
}
.p-a {
  position: absolute;
}
.head {
  background-color: #12d5b5;
  line-height: 1.06666667rem;
  height: 1.06666667rem;
  padding: 0px 7px;
}
.head .text {
  color: #fff;
}
.head .custom {
  background-color: #f1ae11;
  color: #fff;
  border: 0;
  padding: 4px 15px;
  border-radius: 3px;
  margin-top: 0.26666667rem;
}
.head-bar {
  background-color: #12d5b5;
  line-height: 1.06666667rem;
  height: 1.06666667rem;
  padding: 0px 7px;
}
.head-bar .text {
  color: #fff;
}
.head-bar .back-btn {
  font-size: 20px;
  width: 1rem;
  left: 0;
}
.foot {
  height: 0.96rem;
  line-height: 0.96rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  padding: 0px;
  font-size: 0;
  border-top: 1px solid #9f9b91;
}
.foot li {
  width: 33%;
  font-size: 0.42666667rem;
  color: #9f9b91;
}
.foot li .icon {
  margin-top: -0.08rem;
  margin-right: 0.10666667rem;
}
.foot li.select {
  background-color: #dbf9f4;
  color: #01c2a3;
}
.foot li .icon-document {
  background: url("../../image/document.png") center center no-repeat;
  background-size: 100%;
  width: 20px;
  height: 16px;
}
.foot li .icon-search {
  background: url("../../image/search.png") center center no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
}
.foot li .icon-user {
  background: url("../../image/user.png") center center no-repeat;
  background-size: 100%;
  width: 16px;
  height: 19px;
}
.job-list {
  margin: 0;
  padding: 0;
  margin-top: 0.13333333rem;
}
.job-list .item {
  padding: 8px 0;
  padding-left: 10px;
  list-style: none;
  border-bottom: 1px solid #cfcbc1;
  height: 1.73333333rem;
}
.job-list .item .logo {
  width: 1.73333333rem;
  height: 1.73333333rem;
  margin-right: 13px;
}
.job-list .item .title {
  margin: 0;
  font-size: 0.42666667rem;
}
.job-list .item .text {
  margin: 0;
}
.company-info {
  padding: 20px 15px 13px 15px;
  border-bottom: 1px solid #cfcbc1;
}
.company-info img {
  width: 1.6rem;
  height: 1.6rem;
  left: 15px;
  margin-right: 20px;
}
.company-info p {
  margin-top: 0;
}
.job-desc {
  margin-top: 5px;
}
.job-desc h5 {
  margin: 0;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  padding-left: 10px;
  font-size: 0.42666667rem;
  border-bottom: 2px solid #cfcbc1;
}
.job-desc pre {
  margin-left: 0px;
  padding-left: 10px;
}
.bottom-btn {
  position: fixed;
  height: 1.2rem;
  font-size: 0.42666667rem;
  background: #12d5b5;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
}
.jobInfo {
  border-bottom: 1px solid #cfcbc1;
  padding: 16px 10px 12px 10px;
}
.jobInfo .ml20 {
  margin-left: 20px;
}
.jobInfo img {
  top: 40px;
  right: 24px;
}
.job-class {
  background-color: #fff;
  padding: 20px 0px 15px 0px;
}
.job-class .job-class-head {
  margin-left: 15px;
  margin-bottom: 6px;
}
.job-class .job-class-head h5 {
  margin: 0;
  font-size: 0.42666667rem;
  line-height: 0.8rem;
  font-weight: 600;
  color: #333;
}
.job-class .job-class-head button {
  padding: 6px 15px;
  border-radius: 15px;
  background-color: #a5ecf9;
  color: #333;
}
.job-class .job-class-head button.active {
  background-color: #12d5b5;
  color: #a5ecf9;
}
.job-class ul {
  border-top: 2px solid #cfcbc1;
}
.job-class ul li {
  padding-left: 15px;
  padding-top: 10px;
}
.job-class ul li p {
  margin: 0;
  padding: 0;
  line-height: 0.74666667rem;
}
.job-class ul li .salary {
  color: #ff630b;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
body {
  font-size: 0.42666667rem;
  background-color: #eee;
}
button {
  border-width: 0;
  outline-width: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
